body {
    background-image: url("bg7.jpg");
    background-size: cover;
    color: white;
}

hr {

    width: 60%;
    color: white;
}

img {
    width: 300px !important;
    height: 300px !important;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    padding: 5px;
    margin-right: 50px;
}

#text {
    margin-right: 150px !important;
    margin-left: 150px !important;
}

#left {
    margin-left: 700px;
}

#left2 {
    margin-left: 700px;
}

button {
    background-image: url("bg7.jpg");
    color: white !important;
    font-size: 25px !important;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}